.home{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.first {
    background-color:antiquewhite;
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.first > img {
    width: 500px;
    overflow: hidden;
    height: 100%;
}

.flats {
    height: 250px;
    overflow-x: scroll;
    white-space: nowrap;
}
.flats::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Opera */
}

.flats > img {
    width: 300px;
    height: 200px;
    display: inline-block;
}